.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .subtitulo {
    background-color: white;
    padding: 24px;
    height: 60%;
    width: 60%;
    border-radius: 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overlay .subtitulo h2 {
    font-size: 32px;
}

.modal-overlay .subtitulo .input-container {
    width: calc(100% - 24px);
}

.modal-overlay .subtitulo input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0,0,0,0.9);
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;

    margin-bottom: 12px;
}

.modal-overlay .subtitulo label {
    color: #000000;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .subtitulo .btn-postar {
    position: relative;
    align-items: center;
    width: 26%;
    margin-top: 40px;
    margin-inline: 50px;
}

.modal-overlay .subtitulo .btn-postar:hover {
    background-color: #3a44f8;
    transform: scale(1);
}

.modal-overlay .subtitulo .btn-voltar {
    position: relative;
    align-items: center;
    width: 25%;
    margin-inline-end: 50px;
}

.modal-overlay .subtitulo .btn-voltar:hover {
    background-color: #3a44f8;
    transform: scale(1);
}

.titulo {
    color: black;
    align-items: center;
    
}